{% load static %}
<style>
body {
    background-image: url("{% static 'img/фон.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .post-section {
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    color: #fff;
  }
  .modal {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a {
    color: #00fffa;
    text-decoration: none;
    background-color: transparent
}
    .list-group-item {
        background-color: rgba(0,0,0,0.1);
    }

    .list-group-item{
        color: #fff
    }
    
    .modal-content {
        background-color: rgba(0,0,0,0.7);
        padding: 15px;
        color: #fff;
    }

</style>