<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      var activeListItem = null;
      function showText(postId, listItem) {
        if (activeListItem !== null) {
          activeListItem.classList.remove('active');
        }
        activeListItem = listItem;

        activeListItem.classList.add('active');
        $.ajax({
          url: window.location.origin + '/?id=' + postId,
          type: 'GET',
          success: function(data) {    
            $('#postText').text(data.text);
            if (data.image && data.image.trim() !== "") {
              $('#postImage').attr('src', data.image);
            } else {
              $('#postImage').removeAttr('src');
            }
          }
        });
      } 
    </script> 
    <script> 
      document.addEventListener("DOMContentLoaded", function() {
        var activeItem = document.querySelector(".list-group-item.active");

        if (!activeItem) {
            var postImageContainer = document.querySelector("#postImageContainer");
            postImageContainer.style.display = "none";
        }

        var listItems = document.querySelectorAll(".list-group-item");
        listItems.forEach(function(item) {
            item.addEventListener("click", function() {
                var postImageContainer = document.querySelector("#postImageContainer");
                postImageContainer.style.display = "block";
            });
        });
    });
    </script> 
    <link rel="shortcut icon" href="{% static "img/Yggdrasil.ico" %}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}  {% endblock %}
    </main>
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>