{% extends 'base.html'%}
{% load user_filters %}
{% block title %}
  Новый пост
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {%if is_edit %}
              Редактировать запись
            {% else %}
              Добавить запись
            {% endif %}
          </div>
          <div class="card-body">
            {%if is_edit %}
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                  Сохранить
                </button>
              </form>
            {% else %}
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                  Добавить
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
